<p id="notice"><%= notice %></p>

<h1>Listing Book Histories</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Book</th>
      <th>Chk out dt</th>
      <th>Chk in date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_histories.each do |book_history| %>
      <% @book = Book.find(book_history.book_id) %>
      <% if book_history.user_id == @current_user.id %>
         <tr>
        <td><%= @book.title %></td>
        <td><%= book_history.chk_out_dt %></td>
        <td><%= book_history.chk_in_date %></td>
        <td><%= book_history.user_id %></td>
        <td><%= link_to 'Show', book_history %></td>
        <td><%= link_to 'Edit', edit_book_history_path(book_history) %></td>
        <td><%= link_to 'Destroy', book_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>