<p id="notice"><%= notice %></p>

<h1>Your checkout history</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Book</th>
      <th>Check out date</th>
      <th>Check in date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_histories.each do |book_history| %>
      <% @book = Book.find(book_history.book_id) %>
      <% if book_history.user_id.to_s == @user_id %>
         <tr>
        <td><%= @book.title %></td>
        <td><%= book_history.chk_out_dt.strftime("%b/%d/%Y") %></td>
           <%if !book_history.chk_in_date.nil?%>
        <td><%=book_history.chk_in_date.strftime("%b/%d/%Y")%></td>
           <%else%>
               <td><%=book_history.chk_in_date%></td>
               <%end%>
        <td><%= book_history.user_id %></td>
           <td><%= @user_id.class %></td> <%#remove%>
           <td><%= book_history.user_id == @user_id %></td> <%#remove%>
        <td><%= link_to 'Show', book_history %></td>
        <td><%= link_to 'Edit', edit_book_history_path(book_history) %></td>
        <td><%= link_to 'Destroy', book_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
