<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @book_history.book_id %>
</p>

<p>
  <strong>Chk out dt:</strong>
  <%= @book_history.chk_out_dt %>
</p>

<p>
  <strong>Chk in date:</strong>
  <%= @book_history.chk_in_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @book_history.user_id %>
</p>

<%= link_to 'Edit', edit_book_history_path(@book_history) %> |
<%= link_to 'Back', book_histories_path %>
