<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
            <% end %>
          </ul>
        </nav>
      </div>
</header>
<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
<div class="container">
<%= yield %>
</div>
<br/>
<br/>
      <%= debug(params) if Rails.env.development? %>
      <%= debug(session[:user_id]) if Rails.env.development? %>

</body>
</html>
